.idea/*.iml,
.idea/*.xml
.config/
.target/

/.idea/.gitignore
/target/classes/ru/mathmeh/urfu/bot/Bot.class
/target/classes/ru/mathmeh/urfu/bot/Categories.class
/target/classes/ru/mathmeh/urfu/bot/Logic/Config.class
/config/config.properties
/src/main/java/ru/mathmeh/urfu/bot/ConfigVk.java
/target/classes/ru/mathmeh/urfu/bot/Logic/Logic.class
/target/test-classes/ru/mathmeh/urfu/bot/LogicTest.class
/target/classes/ru/mathmeh/urfu/Main.class
/target/classes/ru/mathmeh/urfu/bot/Notes/Note.class
/target/classes/ru/mathmeh/urfu/bot/Notes/NoteManager.class
/target/classes/ru/mathmeh/urfu/bot/TelegramBot.class
/src/main/java/ru/mathmeh/urfu/bot/VkBot.java
/target/classes/ru/mathmeh/urfu/bot/Config.class
/target/classes/ru/mathmeh/urfu/bot/ConfigVk.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/ru/mathmeh/urfu/bot/Logic.class
/target/classes/ru/mathmeh/urfu/bot/Note.class
/target/classes/ru/mathmeh/urfu/bot/NoteManager.class
/target/classes/ru/mathmeh/urfu/bot/VkBot.class
